.container {
  display: flex;
  width: 70%;
  height: 95%;
  padding-left: 10px;
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 76, 255, 0.164);
}
.imgContainer {
  flex: 4;
}

.img {
  width: 100%;
  height: 100%;
}

.loginContainer {
  flex: 2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-weight: bold;
  font-size: 30px;
  color:#4fadff;
}

.loginIcon{
  font-size: 50px;
  color:#4fadff;
}

.inputDiv {
  display: flex;
  margin: 25px 10px;
  align-items: center;
  /* border: 1px solid grey; */
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 76, 255, 0.541);
}

.input {
  background: transparent;
  border: none;
  /* margin: 20px; */
  font-size: 20px;
  padding: 10px;
  outline: none;
}

.icon {
  color: grey;
  padding: 0px 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  background-color: white;
  width: 120px;
  font-size: 18px;
  padding: 5px 10px;
  color: #4fadff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 76, 255, 0.541);
}
