.advertise{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  /* margin-top: 40px ; */
  padding: 20px;
}
.links{
  text-decoration: none; 
  color:inherit; 
  border-radius: 5px;
  padding:20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.adButtons{
  color:white;
  background-color:#4fadff;
  border:none;
  width:200px;
  font-size:20px;
  padding:5px;
  border-radius: 5px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  
}